*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-div {
  padding-inline: 2.5rem;
  height: 5.75rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.header-div__logo img {
  height: 25px;
  margin-right: 1.5rem;
}

.header-div__navigation {
  margin-left: 1.5rem;
}

.header-div__navigation div {
  display: flex;
}

.header-div__navigation .header-div__option {
  padding-inline: 1rem;
  /* cursor: pointer; */
  text-wrap: nowrap;
  position: relative;
}
.header-div__option > span {
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 1.875rem; /* 30px */
}

.header-div__option-1:hover .header-div__expandable-explore,
.header-div__option-2:hover .header-div__expandable-find,
.header-div__option-3:hover .header-div__expandable-get-hired   {
  opacity: 1;
  visibility: visible;
}

.header-div__navigation i {
  font-size: 0.6rem;
  margin-left: 5px;
}

.header-div__expandable {
  position: absolute;
  background-color: white;
  z-index: 100;
  margin-top: 1rem;
  padding: 1.5rem;
  left: 0;
  top: 50%;  
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease;
}
.header-div__expandable li {
  display: flex;
  align-items: center;
  text-align: left;
  line-height: 17px;
  padding-right: 0.8rem !important;
  font-size: 0.875rem;
  cursor: pointer;
}
.header-div__expandable li:first-child {
  padding-bottom: 0.75rem;
 
}
.header-div__expandable-explore li:first-child,
.header-div__expandable-explore li:nth-child(2),
.header-div__expandable-find li,
.header-div__expandable-get-hired li {
  font-weight: 550;
}

.header-div__expandable li:last-child {
  padding-bottom: 0 !important;
}
.header-div__expandable li:not(:first-child) {
  padding: 0.75rem 0;
}
.header-div__expandable li:hover {
  color: rgb(108, 108, 114);
}
.header-div__expandable-get-hired li:hover span {
  background-color: rgb(108, 108, 114);
}

.header-div__navigation span {
  position: relative;
}

.header-div__expandable svg {
  margin-right: 8px;
}

.header-div__expandable .divider {
  border: 1px solid rgb(227, 227, 230);
  margin: 0.75rem 0;
  width: 100%;
}

.upgrade-plan {
  background-color: rgb(13, 12, 34);
  color: white;
  border-radius: 3px;
  font-size: 0.625rem;
  font-weight: 800 !important;
  padding: 3px;
  text-transform: uppercase;
  margin-left: 8px;
  line-height: normal !important;
}
/*  background-color: rgb(204, 204, 204);
  color: white;
  border-radius: 3px;
  font-size: 0.625rem;
  font-weight: 700;
  padding: 3px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 8px;
}

.designer-badge:hover {
   */

.header-div li {
  list-style: none;
 
}
.header-div span {
  font-weight: 600;
}
.header-div__action-buttons {
  margin-left: auto;
}

.header-div button {
  height: 3rem;
  padding-inline: 1.5rem;
  font-weight: 700;
  font-size: 0.9rem;
  border: none;
  border-radius: 2rem;
  text-wrap: nowrap;
  cursor: pointer;
  transition: all 100ms linear;
}

.header-div button:first-child {
  background-color: transparent;
  color: black;
}

.header-div button:nth-child(2) {
  background-color: rgb(13, 12, 34);
  color: white;
}

.header-div button:first-child:hover,
.header-div__navigation span:hover {
  color: rgb(108, 108, 114);
}

.header-div button:nth-child(2):hover {
  background-color: rgb(71, 71, 81);
}

.general-info {
  padding-inline: 4.5rem;
  display: flex;
  gap: clamp(1rem, 8vw, 10rem);
}

.general-info__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.general-info__text h1 {
  font-size: 3.35rem;
  line-height: 3.5rem;
  font-weight: 600;
  transform: scale(1 ,0.9);
}

.general-info__text h2 {
  font-size: 0.97rem;
  font-weight: 400;
  margin-top: 1rem;
}

.general-info__animation {
  height: 430px;
  max-width: 614px;
  width: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
}

.general-info__animation video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.general-info__animation:hover .play-pause-button {
  opacity: 1;
}

.play-pause-button {
  height: 40px;
  width: 40px;
  box-shadow: 0 3px 6px 0  rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;

  position: absolute;
  left: 0.9rem;
  bottom: 0.8rem;
  z-index: 10;

  opacity: 0;
  transition: opacity 250ms linear;
}

.play-pause-button:hover i {
  color: orangered;
}

.play-pause-button:active {
  transform: scale(0.9, 0.9);
}

.play-pause-button .fa-pause {
  font-size: 1.15rem;
  transform: scale(0.93, 0.93);
}

.play-pause-button .fa-play {
  display: none;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  }
}

.slide-in-animation {
  animation: slide-in 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.designers-info { 
  height: 38px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.14);
  border-radius: 1.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0 0.5rem 0 4px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;

  position: absolute;
  right: 0.9rem;
  bottom: 0.8rem;
  z-index: 10;
}

.designers-info img {
  height: 33px;
  width: 32px;
  border-radius: 50%;
}

.designers-info span {
  color: rgb(13, 12, 34);
  font-size: 0.75rem;
  font-weight: 550;
}

.search-options {
  display: flex;
  gap: 1.25rem;
  margin-top: 2.5rem;
}

.search-options label { 
  border-radius: 1.3rem;
  font-size: 0.82rem;
  font-weight: 650;
  color: rgb(58, 53, 70);
  display: flex;
  align-items: center;
  height: 40px;
  padding-inline: 1.2rem;
  cursor: pointer;
}

.search-options label i { 
  font-size: 0.95rem;
  margin-right: 8px;
}

input[type="radio"] {
  opacity: 0;
  width: 0;
}

.search-options label:has(input[type="radio"]:checked) {
  background-color: rgb(58, 53, 70);
  color: white;
}

.search-box-wrapper {
  width: 100%;
  position: relative;
  margin-top: 1rem;
}

input[type="search"] {
  color: rgb(6, 3, 24);
  line-height: 1.75rem;
  height: 3.2rem;
  padding-left: 1.5rem;
  border-radius: 1.8rem;
  border: none;
  width: 100%;
  font-size: 0.9rem;
}

.search-box-wrapper:hover input[type="search"],
input[type="search"]:focus  {
  outline: solid 2px rgb(216, 112, 147, 0.2);
}
.search-box-input:focus ~ .search-box__suggestions-div  {
  display: block;
}
.search-button {
  background-color: rgb(234, 76, 137);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 6px;
  right: 6px;
}

.search-button svg {
  color: #ffffff;
}

.search-button:hover {
  background-color: rgb(236, 94, 149);
}

.search-box__suggestions-div {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 100%;
  display: none;
  background-color: white;
  margin-top: 2px;
  padding: 8px;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.search-box__suggestions-div li {
  list-style: none;
  padding: 4px;
  min-height: 40px;
  display: flex;
}

.search-box__suggestions-div li:hover a {
  color: rgb(61, 61, 78); 
} 
/* color: rgb(61, 61, 78); */
.search-box__suggestions-div a {
  color: rgb(13, 12, 34);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
}

.search-box__suggestions-div a svg {
  margin-right: 8px;
}

.trending-items-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.trending-items-container div:first-child {
  font-size: 0.8125rem; /* 13px */
  font-weight: 600;
  padding-left: 0.75rem;
}

.trending-items-container a {
  text-decoration: none;
  color: rgb(13, 12, 34);
  font-size: 0.75rem; /* 12px */
  padding: 0.4rem 1rem;
  border: 1px solid rgb(231, 231, 233);
  border-radius: 1rem;

  display: inline-block; 
  text-align: center;
  vertical-align: middle;
}

.shots-trends a:not(:last-child)  {
  margin-right: 0.3rem;
}

.shots-trends {
  display: contents;  
}

.shots-trends,
.designers-trends,
.services-trends {
  display: none;
}

/**************
  MAIN CONTENT 
***************/

.main-content-wrapper {
  padding-inline: 4.5rem;
  color: rgb(13, 12, 34);
  margin-top: 2.4rem;
}

.main-content__nav {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
}

.main-content__dropdown-btn,
.timeframe-options-div {
  position: relative;
}

.main-content__dropdown-btn .fa-chevron-down {
  font-size: 0.6rem;
  margin-left: 0.9rem;
  transition: transform 170ms linear;
  margin-bottom: -2px;
}

.popular-btn {
  display: flex;
  align-items: center;
  font-weight: 500;
  border: 1px solid rgb(128, 128, 128, 0.2);
  border-radius: 8px;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.dropdown-btn-options {
  display: none;
  position: absolute;
  top: 130%;
  left: 0;
  z-index: 10;

  background-color: white;
  list-style: none;
  font-weight: 500;
  font-size: 0.75rem;
  border: 1px solid rgb(128, 128, 128, 0.2);
  border-radius: 8px;
  padding: 0.4rem 0.5rem;
  width: 11rem;
}

.dropdown-btn-options li,
.now-dropdown-btn-options li {
  padding: 0.7rem 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-btn-options li,
.now-dropdown-btn-options li {
  color: rgb(61, 61, 78);
}

.now-dropdown-btn-options li.active,
.dropdown-btn-options li.active {
  color: rgb(13, 12, 34);
  font-weight: 550;
}

.dropdown-btn-options li i {
  font-size: 0.7rem;
}

.main-content__filter-categories {
  list-style: none;
  display: flex;
  gap: 8px;
}

.main-content__filter-categories li {
  padding-inline: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.main-content__filter-categories a {
  text-decoration: none;
  color: rgb(13, 12, 34);
}

.main-content__filter-categories li:not(:first-child) a:hover {
  color: rgb(0, 0, 0, 0.6);
}

.main-content__filters-btn span {
  border: 1px solid rgb(128, 128, 128, 0.2);
  border-radius: 1.1rem;
  padding: 0.6rem 1.1rem;
  font-size: 0.8rem;
  cursor: pointer; 
}

.main-content__filters-btn span:hover {
  border-color: rgb(128, 128, 128, 0.3);
}

.main-content__filters-btn span svg {
  margin-right: 2px;
}

.filters-expandable-section {
  display: flex;
  justify-content: space-between;
  transition: all 100ms linear;

  max-height: 0;
  padding: 0;
  overflow: hidden;
}

.filters-expandable-section.open {
  max-height: 90px;
  overflow: visible;
  margin-top: 2rem;
  transition: all 100ms linear;
}

.filters-expandable-section > div {
  flex: 1;
  margin-inline: 1rem;
}

.filters-expandable-section label {
  display: block;
  font-size: 0.85rem;
  font-weight: 550;
  padding-bottom: 0.7rem;
}

.filters_input-container,
.filters_input-container2 {
  position: relative;
}

.small-search-icon,
.color-palette-icon {
  position: absolute;
  top: 1.25rem;
  left: 1rem;
}

.color-palette-icon.solid-color *:not(circle[r="3"]) {
  fill: var(--icon-color);
}
 
.filters-expandable-section input {
  width: 100%;
  border: 1.5px solid rgb(231, 231, 233);
  border-radius: 0.75rem;
  height: 3.5rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
  padding: 1.125rem 1.25rem 1.125rem 2.75rem;
}

.filters-expandable-section input:hover {
  box-shadow: 0 0 3px 2px rgb(231, 231, 233);
}

.filters-expandable-section input:focus {
  outline-color: rgb(234, 100, 217, 0.4);
  box-shadow: 0 0 0 4px rgb(234, 100, 217, 0.1);
}

.filters-expandable-section input::placeholder {
  color: rgb(128, 128, 128, 0.7);
}

.filters_input-container2::before {
  content: "#";
  font-size: 1rem;
  position: absolute;
  left: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: none;
}

.filters_input-container2:focus-within::before,
.filters_input-container2.has-color::before {
  display: block;
}

.filters_input-container2 input {
  text-transform: uppercase; 
}

.filters_input-container2 input::placeholder {
  text-transform: none; 
}

.filters_input-container2 input:focus {
 padding: 1.125rem 1.25rem 1.125rem 3.2rem;
}

.color-palette-container {
  display: none; /*  */
  border: 1px solid rgb(216, 221, 226);
  border-radius: 0.5rem;
  padding: 1rem;
  position: absolute;
  top: calc(100% + 0.8rem); 
  z-index: 10;
}

.color-options {
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
}

.color-options li {
  list-style: none;
  width: calc(100% / 15);
  height: 0.9rem;
}

.color-options li:hover {
  transform: scale(1.4, 1.4);
}

.color-options li a {
  color: transparent;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

.now-btn {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  border: 1.5px solid rgb(231, 231, 233);
  border-radius: 0.75rem;
  height: 3.5rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
  padding: 1.25rem 0.75rem;
}

.now-btn i {
  font-size: 0.6rem;
  transition: transform 170ms linear;
  margin-bottom: -2px;
}

.now-dropdown-btn-options {
  display: none;
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 10;

  background-color: white;
  list-style: none;
  font-weight: 500;
  font-size: 0.75rem;
  border: 1px solid rgb(128, 128, 128, 0.2);
  border-radius: 8px;
  padding: 0.4rem 1.5rem 0.4rem 0.7rem;
  width: 100%; /*  */
}

.main-content__projects-wrapper {
  padding: 2rem 0 2.5rem;
  width: 100%;
}

.main-content__projects ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
  gap: 2.25rem;
}

.main-content__projects li {
  list-style: none;
}

.project-thumbnail-container,
.designer-information__ava-name {
  cursor: pointer;
}
.project-thumbnail-container {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.project-thumbnail-container:hover .project-img-shadow {
  opacity: 1;
  visibility: visible;
}

.project-img {
  width: 100%;
 /*  border-radius: 8px; */
  display: block;
}

.project-img-shadow {
  position: absolute;
  inset: 0;
  border-radius: 8px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 36%);
  /* pointer-events: none; */
  opacity: 0;
  visibility: hidden;
  transition: all 100ms linear;
}

.project-img-shadow__info {
  position: absolute;
  bottom: 1.3rem;
  left: 0;
  width: 100%;
  padding-inline: 1.2rem;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-name {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  line-height: 1.375rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}
.project-buttons {
  display: flex;
  column-gap: 0.75rem;
  margin-left: 0.75rem;
}
.bookmark-btn,
.like-project-btn {
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmark-btn:hover,
.like-project-btn:hover {
  color: rgb(107, 107, 108);
}
.designer-information {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.designer-information__ava-name-badge {
  display: flex;
  align-items: center;
}

.designer-information__ava-name-badge div {
  display: flex;
  align-items: center;
}

.designer-avatar {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.designer-name {
  color: rgb(13, 12, 34);
  font-weight: 500;
  font-size: 0.875rem;
  margin-left: 8px;
}

.designer-badge {
  background-color: rgb(204, 204, 204);
  color: white;
  border-radius: 3px;
  font-size: 0.625rem;
  font-weight: 700;
  padding: 3px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 8px;
}

.designer-badge:hover {
  background-color: rgb(13, 12, 34);
}

.designer-information__stats,
.likes,
.views {
  display: flex;
  color: rgb(61, 61, 78);
  font-size: 0.75rem;
  font-weight: 500;
}

.views {
  margin-left: 8px;
}

.likes-icon-container {
  cursor: pointer;
}

.likes-icon-container:hover svg {
  fill: rgb(234, 100, 217);
  color: rgb(234, 100, 217);
}

.likes-icon-container svg,
.views-icon-container svg {
  fill: rgb(158, 158, 167);
  color: rgb(158, 158, 167);
}

.likes-count,
.views-count {
  margin-left: 4px;
}

.sign-up-to-continue {
  margin-top: 3.5rem;
  text-align: center;
}

.sign-up-to-continue button {
  height: 2.4rem;
  padding-inline: 1.1rem;
  font-weight: 600;
  font-size: 0.85rem;
  border: none;
  border-radius: 1.2rem;
  text-wrap: nowrap;
  cursor: pointer;
  transition: all 100ms linear;
  background-color: rgb(13, 12, 34);
  color: white;
}

.sign-up-to-continue button:hover {
  background-color: rgb(71, 71, 81);
}