*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* 
<weight>: Use a value from 200 to 900 */

.header-div {
  padding-inline: 2.5rem;
  height: 5.75rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  /* gap: 1rem; */
}
.header-div__logo img {
  height: 25px;
  margin-right: 1.5rem;
}
.header-div__navigation {
  margin-left: 1.5rem;
}
.header-div__navigation div {
  display: flex;
  /* gap: 1rem; */
}
.header-div__navigation li {
  padding-inline: 1rem;
  cursor: pointer;
  text-wrap: nowrap;
}
.header-div__navigation i {
  font-size: 0.6rem;
  margin-left: 3px;
}
.header-div li {
  list-style: none;
  font-weight: 600;
}

.header-div__action-buttons {
  margin-left: auto;
}

.header-div button {
  height: 3rem;
  padding-inline: 1.5rem;
  font-weight: 700;
  font-size: 0.9rem;
  border: none;
  border-radius: 2rem;
  text-wrap: nowrap;
  cursor: pointer;
  transition: all 100ms linear;
}
/* rgb(13, 12, 34) */

.header-div button:first-child {
  background-color: transparent;
  color: black;
}
.header-div button:nth-child(2) {
  background-color: rgb(13, 12, 34);
  color: white;
}
.header-div button:first-child:hover,
.header-div__navigation li:hover {
  color: rgb(108, 108, 114);
}
.header-div button:nth-child(2):hover {
  background-color: rgb(71, 71, 81);
}


.general-info {
  padding-inline: 4.5rem;
  display: flex;
  border: 1px solid red;
}
.general-info__text {
  width: 100%;
  border: 1px solid blue;
}
.general-info__animation {
  height: 430px;
  max-width: 614px;
  width: 100%;
  border: 1px solid green;
}